.nav-btn-link {
	width: 100%;
	height: 100%;

	button {
		padding: 6px;
		height: 100%;
		width: 100%;
		border-radius: 12px;
		outline: none;
		background-color: #fff;
		border: teal solid 2px;
	}
}
